<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Plato</title>
</head>
<body>
    <div class="card-body">
        <p class="error" th:if= "${error != null}" th:text = ${error}></p>
        <p class="exito" th:if= "${exito != null}" th:text = ${exito}></p>
        <form>
            <div>
                <p th:if="${error != null}" th:text="${error}" style="color: red;">
                <input type="hidden" name="id" th:value="${editar.id}"/>    
            </div>
            <div class="px-3 py-3">
                <label for="exampleInputEmail1" class="form-label">Tipo de plato</label>
                <select name="categoria" required> 
                    <!-- <option selected="">Seleccione una opcion</option>  -->
                    <option></option>
                    <!-- <option name="categoria" value="0">Elija</option> -->
                    <option name="categoria" value="1">Entrada</option>
                    <option name="categoria" value="2">Principal</option>
                    <option name="categoria" value="3">Postre</option>
                    <option name="categoria" value="4">Bebida</option>
                </select>
            </div>  
            <!-- <input type="text" name="isbn" th:value="${editar.isbn}" placeholder="ISBN" th:disable="${accion == 'Eliminar'}"/>                       -->
            <div class="px-3 py-3">
                <label for="exampleInputEmail1" class="form-label">Nombre del plato</label>
                <input type="text" class="form-control" name="nombre" th:value="${editar.nombre}" placeholder="Nombre" th:disable="${accion == 'Eliminar'}" required>
            </div>
            <div class="px-3 py-3">
                <label for="exampleInputEmail1" class="form-label">Valor del plato</label>
                <input type="number" class="form-control" name="precio" th:value="${editar.precio}" placeholder="Precio" th:disable="${accion == 'Eliminar'}" required>
            </div>
            <div class="px-3 py-3">
                <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                <textarea type="text" class="form-control" rows="3" name="descri" th:value="${editar.descri}" placeholder="Descripcion" th:disable="${accion == 'Eliminar'}"required></textarea>
            </div>
            <div class="px-3 py-3">
                <label for="exampleInputEmail1" class="form-label">Ingrese Foto de plato</label>
                <input type="file" class="form-control" name="archivo" required>
            </div>
            <div class="px-3 py-3">
                <button th:if="${accion == 'Crear'}" type="submit" class="btn btn-success" formaction="/actualizarPlato" formmethod="post">Crear</button>
                <button th:if="${accion == 'Actualizar'}" type="submit" class="btn btn-success" formaction="/actulizarPlato" formmethod="post">Actualizar</button>
                <!-- <button sec:authorize="hasRole('ROLE_ADMIN')" th:if="${accion == 'Eliminar'}" type="submit" class="btn btn-danger" formaction="/libro/eliminar-libro" formmethod="get">Eliminar</button> -->
                <!-- <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/editarPlato" class="btn btn-primary btn-xl">Volver al Menu</a> -->
            </div> 
        </form>
    </div>
    
</body>
</html>